main {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

header {
  height: 40%;
  width: 100%;
  text-align: center;
  background-color: var(--clr-cyan);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
  font-size: var(--fs-xxlg);
  font-family: var(--ff-kablamo);
  color: var(--clr-yellow);
}

section {
  height: 60%;
  width: 100%;
  background-color: var(--clr-pink);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.intro {
  max-width: 70rem;
  margin-bottom: 7rem;
  text-align: center;
  font-family: var(--ff-lobster);
  font-size: var(--fs-lg);
  color: var(--clr-white);
}

div.joke-generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 5rem;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: var(--fs-md);
  border: 3px solid var(--clr-navy);
  border-radius: 0.5rem;
  color: var(--clr-navy);
  background-color: var(--clr-yellow);
  box-shadow: 0.1rem 0.1rem;
  transition: all 0.1s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  transform: translate(-0.15rem, -0.15rem);
  box-shadow: 0.3rem 0.3rem var(--clr-navy);
}

button:active {
  transform: translate(0.1rem, 0.1rem);
  box-shadow: 0.15rem 0.15rem var(--clr-navy);
}

div.joke-display {
  text-align: center;
  font-size: var(--fs-md);
  font-weight: 700;
  color: var(--clr-white);
}

p.joke-question {
  margin-bottom: 1.5rem;
}

p.joke-answer {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: var(--fs-xlg);
  }

  section {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--fs-lg);
  }

  p.intro {
    font-size: var(--fs-md);
  }

  button {
    font-size: var(--fs-base);
  }

  div.joke-display {
    font-size: var(--fs-base);
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 50%;
  }

  h1 {
    font-size: var(--fs-md);
  }

  section {
    height: 50%;
  }

  p.intro {
    font-size: var(--fs-base);
  }

  button {
    font-size: var(--fs-sm);
  }

  div.joke-display {
    font-size: var(--fs-sm);
  }
}
