:root {
  font-size: 62.5%;

  --clr-white: #fff;
  --clr-navy: rgb(5, 21, 59);
  --clr-cyan: rgb(57, 173, 227);
  --clr-yellow: rgb(255, 219, 38);
  --clr-pink: rgb(224, 0, 120);

  --ff-kablamo: "Kablammo", system-ui;
  --ff-poppins: "Poppins", sans-serif;
  --ff-lobster: "Lobster", serif;

  --fs-xxlg: 7.2rem;
  --fs-xlg: 4.8rem;
  --fs-lg: 3.6rem;
  --fs-md: 2.4rem;
  --fs-base: 1.8rem;
  --fs-sm: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  max-height: 100%;
}

body {
  background-color: var(--clr-pink);
}

body,
button {
  font-family: var(--ff-poppins);
}
